.App {
  text-align: center;
}

.box {
  position: absolute;
  cursor: move;
  color: black;
  background-color: white;
  max-width: 215px;
  overflow-wrap: break-word;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
}

#new-item {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  transform: translate(-50%, -50%);
}

input {
  padding: 0.5em;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  padding: 0.2em;
}

#delete {
  font-size: 0.5em;
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}